@tailwind base;
@tailwind components;
@tailwind utilities;

body {

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* table,
th,
td {
  border: 1px solid gray;
} */

.b-gray {
  background-color: #5DAA68;
}

.b-sky {
  background-color: #BCFD4C;
}

.body_color {
  background-color: #c9d6df;
}

.animation {
  animation: vibrate 0.2s;
}

@media (prefers-reduced-motion: reduce) {
  .animation {
    animation: none;
  }
}